# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\slluser\Desktop\School\Data Structures and Algorhythems\Data Structures and Algorhtythems CA 1 - Eric Butler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
